body{
  background-color:#777c85;
}

/* Backgeound Image */
#background{
  height:700px;
  width: 100%;
}

#text{
  position: relative;
  top: -130px;
  text-align: center;
  color: white;
}
.text-1{
  font-size: 20px;
}
.text-2{
  font-size: 50px;
}

.check{
  margin-top: -120px;
  margin-bottom: 10px;
  padding-left: 200px;
  background-color: white;
  border-radius: 10px;
}
.date{
  margin-right: 2px;
  margin-left: 5px ;
  font-size: 16px;
  color: black;
}
.date-1{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}
.date-1:hover{
  background-color: rgb(173, 158, 158);
}
.check-button{
  background-color: orangered;
  border-radius: 5px;
  color: white;
}
.check-button:hover{
  background-color:red;
}

/* Booking Room */
.container{
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.row{
  
  background-color: white;
  border-radius: 10px;
}
.room-image{
  height: 200px;
  width: 400px;
  /* margin-left: -15px; */
  margin: 20px 2px;
  border-radius: 2px;
}
.price{
  margin-top: 20px;
  padding-left: 20px;
  font-size: 30px;
}
.text{
  padding-left: 20px;
  font-size: 20px;
}
.book-button{
  margin-left: 250px;
  margin-top: 30px;
  background-color: orangered;
  border-radius: 5px;
  color: white;
}
.book-button:hover{
  background-color:red;
}

/* About US */
.container h3{
  text-align: center;
}


